body{
    background-color: rgb(250, 241, 242);
}
.container{
    width:90%;
    margin: auto;
}
#big{
    width: 90%;
    margin: auto;
}

 #first{
    border: 0.5px solid black;
    padding: 12px;
    border-radius: 7px;
    width: 60%;
    margin: auto;
    text-align: center;
    display: flex;
    margin-bottom: 30px;
    width: 55%;
    margin: auto;
    text-align: center;
    display: flex;
} 
#refine{
    padding: 11px;
    border-radius: 17px;
    border:1px solid rgb(178, 6, 6);
    color:rgb(178, 6, 6);
    cursor: pointer;
    width: 16%;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
} 
#cards,#dog,#card2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    gap: 30px;
    margin: auto;
    margin-top: 50px;    
}
.card{
    border-radius: 8px;
    box-shadow: rgba(252, 109, 109, 0.35) 0px 5px 15px;
    text-align: center;
}

.img{
    height: 65%;
    width: 100%;
    border-radius: 8px 8px 0 0;
}
.cr{
    display: flex;
    gap: 15px;
    width: 80%;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 15px;
}
#see{
    display: flex;
    gap: 20px;
    width: 90%;
    margin: auto;
    margin-top: 50px;
    border-radius: 0 40px 0 40px;
    padding: 30px;
    box-shadow: rgba(237, 69, 69, 0.25) 0px 14px 28px, rgba(246, 63, 63, 0.22) 0px 10px 10px;
}
#half1,#half2{
    display: flex;
    width: 50%;
    border-radius: 15px;
}
#half1>div,#half2>div{
    box-shadow: rgba(252, 109, 109, 0.35) 0px 5px 15px;
    padding: 25px;
    border-radius: 15px;
    height: 80px;
    width: 90px;
    gap: 30px;
    margin-left: 10px;
    cursor: pointer;
    text-align: center;
}
#fund{
    width: 95%;
    margin: auto;
    margin-top: 50px;
    padding: 30px;
    background-image: url("https://assets.milaap.org/packs/_/assets/images/home/floral-63b2cb34226ab4606c8743991d786df0.png");
    background-color: rgba(128, 0, 0, 0.931)
}
#fund>div{
    border-radius: 15px;
    display: flex;
    padding: 20px;
    background-color: #fff;
    text-align: center;
    width: 85%;
    margin: auto;
}
#btn{
    margin-left: 13%;
    border-radius: 35px;
    border: none;
    background-color: rgba(128, 0, 0, 0.931);
    width: 30%;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: auto;
    font-size: 20px;
    box-shadow: rgba(252, 109, 109, 0.35) 0px 5px 15px;
}
#nav>h3{
    margin-right: 50%;
}
#nav>div>img{
    height: 50px;
    width: 140px;
}
span{
    color: rgb(21, 165, 21);
}
#medical{
    display: block;
    width: 35%;
    height: 150px;
    padding: 18px;
    margin: auto;
    margin-top: 50px;
    display: grid;
    box-shadow: rgba(252, 109, 109, 0.35) 0px 5px 15px;
    grid-template-columns: repeat(2,1fr);
    border-radius: 9px;
}
#medical>div{
    width: 80%;
    margin: auto;
    padding: 16px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#par{
    text-align: center;
    margin-top: 50px;
    word-spacing: 5px;
    font-size: 20px;
}
#pa{font-size: 23px;}
#detail{
    width: 30%;
    margin: auto;
    display: block;
    margin-top: 70px;
}
#detail>input{
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 16px;
    margin: auto;
    margin-top: 8px;
    border-radius: 9px;
}

#sub{
    width: 65%;
    height: 100px;
    margin: auto;
    border-radius: 8px 8px 0 0;
    margin-top: 50px;
    background-image: url("https://assets.milaap.org/packs/_/assets/images/home/floral-63b2cb34226ab4606c8743991d786df0.png");
    background-color: rgba(128, 0, 0, 0.931)
}
#submit{
    margin-left: 15px;
    padding: 12px;
    border-radius: 40px;
    border: none;
    width: 24%;
    cursor: pointer;
    position: relative;
    left: 70%;
    top: 20%;
}