<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div>
        <div id="section1">
            <h3>Donate Towards</h3>
            <div>
                <a href="">
                <img src="" alt="">
                <p>Medical</p>
                </a>
            </div>
            <div>
                <a href="">
                <img src="" alt="">
                <p>Education</p>
                </a>
            </div>
            <div>
                <a href="">
                <img src="" alt="">
                <p>Memorial</p>
                </a>
            </div>
        </div>
        <div id="section2">
            <h3>Milaap</h3>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
            <a href=""></a>
        </div>
        <div id="section3">
            <h3>Indian Office address</h3>
            <p>Milaap Social Ventures India Pvt. Ltd.
                ClayWorks Create - building,11th KM Create Campus,Arakere Bannerghatta Rd,
                Bangalore, Karnataka, India 560076
            </p>
            <h3>Supported by</h3>
             <img src="" alt=""> 
           
        </div>
        <div id="section4">
            <button> Start a fundraiser</button>
            <div>
                <a href=""></a>
                <a href=""></a>
                <a href=""></a>
            </div>
            <div>
                <p></p>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
                <div><img src="" alt=""></div>
            </div>
        </div>
        <div>
            <img src="" alt="">
            <div>
                <h4>Set up, manage and promote your fundraiser with Milaap app</h4>

            </div>
        </div>
    </div>
    
</body>
</html>